body {
  background-color: #f8f9f9;
}
body {
  border-style: solid;
  border-color: #3a5743ff;
  border-width: 8px;
  margin: 4px 4px 4px 4px;
  font-family: 'Open Sans Condensed', sans-serif;
}
h2 {
  text-align: center;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 29px;
  /* margin-right: 10px;
  margin-left: 10px; */
}

h3  {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  margin-left: 20px;
}



h1 {
  text-align: center;
  color: #49a078;
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  text-decoration: underline;
}

p3 {

  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
}

.align {
  margin-right : 25px;
  margin-left: 25px;
  padding-left: 25px;
  padding-right: 25px;
}


/* h2 {
  color: #49a078;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  margin-right: 10px;
  margin-left: 10px;
} */

p, li {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-right: 10px;
  margin-left: 10px;
}



p4 {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-right: 10px;
  margin-left: 10px;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: center;
  /* margin-left: auto;
  margin-right: auto; */
  /* width: 8em */
}

a {
  color : #51A3A3;

}
