
body {
  border-style: solid;
  border-color: #3a5743ff;
  border-width: 8px;
  margin: 10px 10px 10px 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 28px;
  background-color: #f8f9f9;
}

div{
  margin: 10px
}
num{
  color: #49a078;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  margin: 10px 0px 10px 10px;
}

a{
  color: #51A3A3;
  font-size: 28px;
  font-family: 'Amatic SC', cursive;
}

h1 {
  text-align: center;
  color: #49a078;
  font-size: 75px;
  font-family: 'Amatic SC', cursive;
  text-decoration: underline;
}

h2 {
  color: #49a078;
  font-family: 'Amatic SC', cursive;
  font-size: 45px;
  margin-right: 10px;
  margin-left: 10px;
}

p, li {
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  margin-right: 10px;
  margin-left: 10px;
